
body {
    font-size: 20px;
    color: navy;
    font-family: sans-serif;
}

h1 {
	font-size: 2em;
    color: #FFFFFF;
    background-color: #009;
    font-size: 5em;
	text-align: center;
	word-spacing: 1.2em;
}

h2{
	text-transform: uppercase;
	font weight: 600;
}